@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a0a0a;
    color: #ffffff;
}

:root {
    --sidebar-width: 180px;
    --navbar-height: 60px;
}

td {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--navbar-height) 1fr;
    grid-template-areas:
        "sidebar navbar"
        "sidebar content";
    min-width: 100vw;
    min-height: 100vh;
    transition: grid-template-columns 0.5s ease-in-out;
}

.sidebar {
    grid-area: sidebar;
    background-color: black;

    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: var(--sidebar-width);
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    border-right-width: 1px;
    border-right-color: #93a28b;
    border-style: dashed;
}

.content {
    grid-area: content;
    max-width: 100vw;
}

.navbar {
    grid-area: navbar;
    background-color: black;
    position: sticky;
    top: 0px;
    max-width: 100vw;
    z-index: 98;

    border-bottom-width: 1px;
    border-bottom-color: #93a28b;
    border-style: dashed;

    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.show-sidebar {
    transform: translateX(0);
}

.shrink-sidebar {
    grid-template-columns: 0px 1fr;
}

.mobile-main-blur {
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    z-index: 99;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

#dashboard-table td {
    padding-right: 5px;
    padding-left: 5px;
    text-align: start;
}
#dashboard-table th {
    padding-top: 3px;
    padding-bottom: 3px;
    align-content: start;
    padding-right: 5px;
    padding-left: 5px;
    border-right-width: 1px;
    border-right-color: rgb(78, 78, 78);
}
